{
    "port_memory": 8002,
    "ip_memory": "192.168.1.33",
    "memory_size": 4096,
    "page_size": 64,
    "entries_per_page": 4,
    "number_of_levels": 2,
    "memory_delay": 500,
    "swapfile_path": "/home/utnso/swapfile.bin",
    "swap_delay": 15000,
    "log_level": "INFO",
    "dump_path": "/home/utnso/dump_files/",
    "scripts_path": "/home/utnso/revenge-of-the-cth-pruebas/"
}
