{
    "port_cpu": 8006,
    "ip_cpu": "192.168.1.109",
    "ip_memory": "192.168.1.86",
    "port_memory": 8002,
    "ip_kernel": "192.168.1.21",
    "port_kernel": 8001,
    "tlb_entries": 4,
    "tlb_replacement": "LRU",
    "cache_entries": 2,
    "cache_replacement": "CLOCK",
    "cache_delay": 250,
    "log_level": "DEBUG"
}
