{
    "port_memory": 8002,
    "ip_memory": "192.168.1.48",
    "memory_size": 256,
    "page_size": 16,
    "entries_per_page": 4,
    "number_of_levels": 2,
    "memory_delay": 500,
    "swapfile_path": "/home/utnso/swapfile.bin",
    "swap_delay": 3000,
    "log_level": "INFO",
    "dump_path": "/home/utnso/dump_files/",
    "scripts_path": "/home/utnso/revenge-of-the-cth-pruebas/"
}
